*
{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url("img/chalkboard.png");
    background-attachment: fixed;
    font-family: 'Walter Turncoat', cursive;
    color: rgb(239, 229, 216);
}

div.settings{
    display: grid;
    grid-template-rows: 20vh auto 20vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
        "four five six . . . ."
        "headstock headstock headstock headstock instructions instructions instructions"
        "one two three . . playButton .";
}

/* SETTINGS */

.string svg
{
    fill: rgb(24, 24, 24);
}

.string svg:hover
{
    fill: #FDE74C;
    transform: scale(110%);
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.bass{
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-end;
}

.treble{
    margin-left: 5vw;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
}

.six{
    grid-area: six;
}

.five{
    grid-area: five;
}

.four{
    grid-area: four;
}

.three{
    grid-area: three;
}

.two{
    grid-area: two;
}

.one{
    grid-area: one;
}

.instructions{
    grid-area: instructions;
    
    margin:auto;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-items: center;
}

.instructions img{
    max-width: 100%;
    min-width: 90%;
    height: auto;
}

.headstock{
    grid-area: headstock;
}

.headstock img{
    max-width: 50vw;
    height: auto;
}

.playButton{
    grid-area: playButton;
}

.playButton button{
    border: 2px solid #FDE74C;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #FDE74C;
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.playButton button:hover
{
    background-color: #FDE74C;
    color: darkgray;
}
.playButton button:disabled
{
    visibility: hidden;    
}

/* GAME */

div.game
{
    display: none;
    overflow: auto;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: 
        "display display display display score score score"
        "display display display display encouragement encouragement encouragement"
        "noteChoice noteChoice noteChoice noteChoice noteChoice noteChoice noteChoice";
}

.display
{
    grid-area: display;
}

.display img
{
    width: 85%;
    object-fit: contain;
}

.score
{
    grid-area: score;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5rem;
}

.encouragement
{
    grid-area: encouragement;
}

.noteChoice
{
    grid-area: noteChoice;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.3rem;
}

.noteChoice img
{
    width: 9vw;
    height: auto;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.noteChoice img:hover
{
    transform: scale(110%);
}